.hero {
  //background: rgba(0, 191, 255, .5);
  padding: 10px 10px;
  margin: 20px;



  border: 4px rgb(89,89,89) solid;
  -moz-box-shadow: inset 13px 6px 37px 7px rgb(128,128,128);
-webkit-box-shadow: inset 13px 6px 37px 7px rgb(128,128,128);
box-shadow: inset 13px 6px 37px 7px rgb(128,128,128);
}
#lista {
    h2 {
        margin-top: 50px;
    }
}
.column {
  float: left;
  width: 50%;
  padding: 10px 10px;
  margin:20px;

}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
